<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>宝宝出生了</string>
		<key>month</key>
		<string>用户输入的出生时间</string>
	</dict>
	<dict>
		<key>title</key>
		<string>宝宝回家了</string>
		<key>month</key>
		<string>不确定</string>
	</dict>
	<dict>
		<key>title</key>
		<string>宝宝第一次笑</string>
		<key>month</key>
		<string>不确定</string>
	</dict>
	<dict>
		<key>title</key>
		<string>宝宝第一次模仿</string>
		<key>month</key>
		<string>不确定</string>
	</dict>
	<dict>
		<key>title</key>
		<string>宝宝可以吃手了</string>
		<key>month</key>
		<string>0-1月</string>
	</dict>
	<dict>
		<key>title</key>
		<string>宝宝会翻身了</string>
		<key>month</key>
		<string>4-7月</string>
	</dict>
	<dict>
		<key>title</key>
		<string>宝宝可以吃大脚趾了</string>
		<key>month</key>
		<string>不确定</string>
	</dict>
	<dict>
		<key>title</key>
		<string>宝宝可以拉坐了</string>
		<key>month</key>
		<string>4个月</string>
	</dict>
	<dict>
		<key>title</key>
		<string>第一次给宝宝添加辅食</string>
		<key>month</key>
		<string>4个月</string>
	</dict>
	<dict>
		<key>title</key>
		<string>宝宝长牙了</string>
		<key>month</key>
		<string>6个月</string>
	</dict>
	<dict>
		<key>title</key>
		<string>宝宝可以独坐了</string>
		<key>month</key>
		<string>6个月</string>
	</dict>
	<dict>
		<key>title</key>
		<string>宝宝会爬了</string>
		<key>month</key>
		<string>6-9个月</string>
	</dict>
	<dict>
		<key>title</key>
		<string>宝宝可以扶站了</string>
		<key>month</key>
		<string>8个月</string>
	</dict>
	<dict>
		<key>title</key>
		<string>宝宝会站了</string>
		<key>month</key>
		<string>8个月后</string>
	</dict>
	<dict>
		<key>title</key>
		<string>宝宝可以扶着家具走了</string>
		<key>month</key>
		<string>9个月后</string>
	</dict>
	<dict>
		<key>title</key>
		<string>宝宝能独自走了</string>
		<key>month</key>
		<string>9个月后</string>
	</dict>
	<dict>
		<key>title</key>
		<string>宝宝第一次叫妈妈</string>
		<key>month</key>
		<string>不定时</string>
	</dict>
	<dict>
		<key>title</key>
		<string>宝宝第一次叫爸爸</string>
		<key>month</key>
		<string>不定时</string>
	</dict>
	<dict>
		<key>title</key>
		<string>宝宝断奶了</string>
		<key>month</key>
		<string>不定时</string>
	</dict>
	<dict>
		<key>title</key>
		<string>宝宝可以自己吃饭了</string>
		<key>month</key>
		<string>周岁</string>
	</dict>
	<dict>
		<key>title</key>
		<string>宝宝可以自己穿衣服了</string>
		<key>month</key>
		<string>周岁</string>
	</dict>
	<dict>
		<key>title</key>
		<string>宝宝能够自己上厕所了</string>
		<key>month</key>
		<string>2岁</string>
	</dict>
</array>
</plist>
