<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>%@出生了</string>
		<key>month</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>%@回家了</string>
		<key>month</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>%@第一次笑</string>
		<key>month</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>%@第一次模仿</string>
		<key>month</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>%@可以吃手了</string>
		<key>month</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>%@会翻身了</string>
		<key>month</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>%@可以拉坐了</string>
		<key>month</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>%@可以吃大脚趾了</string>
		<key>month</key>
		<integer>6</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>第一次给%@添加辅食</string>
		<key>month</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>%@长牙了</string>
		<key>month</key>
		<integer>6</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>%@可以独坐了</string>
		<key>month</key>
		<integer>7</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>%@会爬了</string>
		<key>month</key>
		<integer>8</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>%@可以扶站了</string>
		<key>month</key>
		<integer>9</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>%@会站了</string>
		<key>month</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>%@可以扶着家具走了</string>
		<key>month</key>
		<integer>11</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>%@能独自走了</string>
		<key>month</key>
		<integer>12</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>%@断奶了</string>
		<key>month</key>
		<integer>12</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>%@第一次叫妈妈</string>
		<key>month</key>
		<integer>13</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>%@第一次叫爸爸</string>
		<key>month</key>
		<integer>13</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>%@可以自己吃饭了</string>
		<key>month</key>
		<integer>14</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>%@可以自己穿衣服了</string>
		<key>month</key>
		<integer>16</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>%@能够自己上厕所了</string>
		<key>month</key>
		<integer>24</integer>
	</dict>
</array>
</plist>
