<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>type</key>
			<string>动作</string>
			<key>content</key>
			<string>宝宝仰卧，家长拉宝宝的手腕，宝宝能被缓慢拉坐起来。</string>
			<key>image</key>
			<string>1.1.1</string>
		</dict>
		<dict>
			<key>type</key>
			<string>动作</string>
			<key>content</key>
			<string>宝宝趴着时，能稍稍抬起头，并持续几秒钟。</string>
			<key>image</key>
			<string>1.1.2</string>
		</dict>
		<dict>
			<key>type</key>
			<string>动作</string>
			<key>content</key>
			<string>把宝宝竖抱起来，宝宝可以两脚“站直”，似乎会“迈步”。</string>
			<key>image</key>
			<string>1.1.3</string>
		</dict>
		<dict>
			<key>type</key>
			<string>动作</string>
			<key>content</key>
			<string>抚摸宝宝的掌心，宝宝会抓握成人的手指。</string>
			<key>image</key>
			<string>1.1.4</string>
		</dict>
		<dict>
			<key>type</key>
			<string>动作</string>
			<key>content</key>
			<string>用手触摸宝宝的嘴唇，宝宝的嘴巴会随着成人的手指转动。</string>
			<key>image</key>
			<string>1.1.5</string>
		</dict>
		<dict>
			<key>type</key>
			<string>认知</string>
			<key>content</key>
			<string>宝宝仰卧时，用会动的玩具逗引宝宝，眼睛会追视玩具。</string>
			<key>image</key>
			<string>1.2.1</string>
		</dict>
		<dict>
			<key>type</key>
			<string>认知</string>
			<key>content</key>
			<string>给宝宝看粗体黑白图案，宝宝能短时间注意图案。</string>
			<key>image</key>
			<string>1.2.2</string>
		</dict>
		<dict>
			<key>type</key>
			<string>认知</string>
			<key>content</key>
			<string>和宝宝说话时，宝宝会短时间注意成人的脸。</string>
			<key>image</key>
			<string>1.2.3</string>
		</dict>
		<dict>
			<key>type</key>
			<string>语言</string>
			<key>content</key>
			<string>逗引宝宝，宝宝有时会发“嗯嗯”的声音。</string>
			<key>image</key>
			<string>1.3.1</string>
		</dict>
		<dict>
			<key>type</key>
			<string>社交</string>
			<key>content</key>
			<string>成人用手抚摸宝宝，宝宝显得很舒服。</string>
			<key>image</key>
			<string>1.4.1</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>type</key>
			<string>动作</string>
			<key>content</key>
			<string>用拨浪鼓逗引宝宝，宝宝会用手握住拨浪鼓。</string>
			<key>image</key>
			<string>2.1.1</string>
		</dict>
		<dict>
			<key>type</key>
			<string>动作</string>
			<key>content</key>
			<string>让宝宝伏卧，用玩具逗引宝宝，宝宝会抬头寻找玩具。</string>
			<key>image</key>
			<string>2.1.2</string>
		</dict>
		<dict>
			<key>type</key>
			<string>动作</string>
			<key>content</key>
			<string>逗引宝宝，宝宝会高兴得手舞足蹈。</string>
			<key>image</key>
			<string>2.1.3</string>
		</dict>
		<dict>
			<key>type</key>
			<string>认识</string>
			<key>content</key>
			<string>用玩具逗引宝宝，宝宝能用眼睛注视玩具，视线跟着玩具移动。</string>
			<key>image</key>
			<string>2.2.1</string>
		</dict>
		<dict>
			<key>type</key>
			<string>语言</string>
			<key>content</key>
			<string>妈妈与宝宝游戏时，有时宝宝会发出“咕咕”“呜呜”的声音。</string>
			<key>image</key>
			<string>2.3.1</string>
		</dict>
		<dict>
			<key>type</key>
			<string>社交</string>
			<key>content</key>
			<string>妈妈用温柔的语言与宝宝说话，宝宝会短时间注意妈妈的面孔。</string>
			<key>image</key>
			<string>2.4.1</string>
		</dict>
		<dict>
			<key>type</key>
			<string>社交</string>
			<key>content</key>
			<string>妈妈逗引宝宝，宝宝会有微笑。</string>
			<key>image</key>
			<string>2.4.2</string>
		</dict>
	</array>
</array>
</plist>
