<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>title</key>
			<string>视觉训练</string>
			<key>content</key>
			<string>宝宝仰卧位，在宝宝胸部上方20～30cm 用玩具，最好是红颜色或黑白对比鲜明的玩具吸引宝宝注意，并训练宝宝视线随物体作上下、左右、圆圈、远近、斜线等方向运动。</string>
		</dict>
		<dict>
			<key>title</key>
			<string>听觉训练</string>
			<key>content</key>
			<string>家长可在宝宝周围不同方向，用说话声或玩具声训练宝宝转头寻找声源。母亲的声音是宝宝最喜爱听的声音之一。母亲用愉快、亲切、温柔的语调，面对面地和宝宝说话，可吸引宝宝。注意成人说话的声音、表情、口形等，诱发宝宝良好、积极的情绪和发音的欲望。可选择不同旋律、速度、响度、曲调或不同乐器奏出的音乐或发声玩具，也可利用家中不同物体敲击声如钟表声、敲碗声等，或改变对宝宝说话的声调来训练宝宝分辨各种声音。当然，不要突然使用过大的声音，以免宝宝受惊吓。 </string>
		</dict>
		<dict>
			<key>title</key>
			<string>触觉训练</string>
			<key>content</key>
			<string>利用手或各种形状、质地的物体触碰宝宝的面颊、口唇、眉弓、手指头或脚趾头等处。</string>
		</dict>
		<dict>
			<key>title</key>
			<string>感知觉训练</string>
			<key>content</key>
			<string>吃饭时，用筷子蘸莱汁给宝宝尝尝。</string>
		</dict>
		<dict>
			<key>title</key>
			<string>感知觉训练</string>
			<key>content</key>
			<string>吃苹果时让宝宝闻闻苹果香味。</string>
		</dict>
		<dict>
			<key>title</key>
			<string>感知觉训练</string>
			<key>content</key>
			<string>洗澡时，让宝宝闻闻肥皂香味，用奶瓶喂奶时，让宝宝用手感受一下奶瓶的温度。</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>抬头练习</string>
			<key>content</key>
			<string>使宝宝俯卧，两臂屈肘于胸前，成人在宝宝头侧引逗宝宝抬头，开始训练每次30秒钟，以后可根据宝宝训练情况逐渐延长至3分钟左右。 </string>
		</dict>
		<dict>
			<key>title</key>
			<string>抬头练习</string>
			<key>content</key>
			<string>将宝宝抱坐在成人一只前臂上，宝宝的头背部贴在成人前胸，成人一只手抱住宝宝的胸部，一只手托住宝宝的屁股，使宝宝面前呈现广阔的空间，能注视到周围更多新奇的东西，这可激发宝宝兴趣，使宝宝主动练习竖头。也可让宝宝胸部贴在成人的胸前和肩部，使宝宝的头位于成人肩部以上，用另一只手托住婴儿的头、颈、背，以防止宝宝头后仰。 </string>
		</dict>
		<dict>
			<key>title</key>
			<string>侧翻训练</string>
			<key>content</key>
			<string>宝宝感兴趣的发声玩具，在宝宝头部左右侧逗引宝宝，使宝宝头部侧转注意玩具。每次训练2～3分钟，每日数次。这可促进颈肌的灵活性和协调性，为侧翻身作准备。</string>
		</dict>
		<dict>
			<key>title</key>
			<string>侧翻训练</string>
			<key>content</key>
			<string>宝宝满月后，可开始训练侧翻动作。先用一个发声玩具，吸引宝宝转头注视，然后，成人一手握住宝宝一只手，另一只手将宝宝同侧腿搭在另一条腿上，辅助宝宝向对侧侧翻注视，左右轮流侧翻练习，以帮助宝宝感觉体位的变化，学习侧翻动作。每日2次，每次侧翻2～3次。 </string>
		</dict>
		<dict>
			<key>title</key>
			<string>手部动作训练</string>
			<key>content</key>
			<string>在宝宝手腕部系上铃铛或红色手帕、鲜艳的手镯，来吸引宝宝对手部的感知，帮助他感知手的存在、体验手的动作。可隔一段时间变更一种系法，看看宝宝注意到这些变化没有。脱下手镯、红绸带让宝宝瞧瞧、摸摸，让他感觉一下这些东西与手部动作的关系。还可让宝宝仰卧，将一块布或手绢盖在他的脸上，也可只盖住宝宝一只眼睛，开始时可抓住宝宝的上臂引导他帮他试着用手移开布，逐渐减少帮助，使他自己将布从脸上移开。 </string>
		</dict>
		<dict>
			<key>title</key>
			<string>手部动作训练</string>
			<key>content</key>
			<string>握着宝宝的手，帮助其触碰、抓握面前悬吊的玩具，吸引他抓握。</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>清洁习惯培养</string>
			<key>content</key>
			<string>宝宝每次哺喂完，都帮他擦擦嘴。早晨起床后为他洗脸、洗手、入睡前再给他洗脸、洗手、洗脚、洗臀部，在固定时间洗澡。</string>
		</dict>
		<dict>
			<key>title</key>
			<string>独立能力培养</string>
			<key>content</key>
			<string>应尽量多和孩子交流，但整天陪在宝宝身边也是完全不必要的。宝宝醒来时，可让他独自躺在床上活动一下四肢、四处看看，睡眠时，成人也不必要陪同躺下。</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>感知语音</string>
			<key>content</key>
			<string>利用宝宝清醒时间，让他看看周围环境，并告诉他周围他注意到的东西的名称及行为。</string>
		</dict>
		<dict>
			<key>title</key>
			<string>引逗发声</string>
			<key>content</key>
			<string>和蔼微笑着和宝宝说话，引逗宝宝发出&quot;哦哦&quot;&quot;嗯嗯&quot;声。也可模仿宝宝发出的声音，鼓励宝宝积极发音，对成人微笑。</string>
		</dict>
		<dict>
			<key>title</key>
			<string>抚摸宝宝</string>
			<key>content</key>
			<string>用手轻轻的抚摸宝宝身体，做出舒服的表情，引逗宝宝模仿成人表情。</string>
		</dict>
		<dict>
			<key>title</key>
			<string>微笑练习</string>
			<key>content</key>
			<string>成人在宝宝面前要常常微笑，当宝宝模仿微笑时成人要展现出喜悦的表情，或者抱起宝宝作出奖励。</string>
		</dict>
	</array>
</array>
</plist>
