<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<array>
			<dict>
				<key>title</key>
				<string>视觉训练</string>
				<key>content</key>
				<string>宝宝仰卧位，在宝宝胸部上方20～30cm 用玩具，最好是红颜色或黑白对比鲜明的玩具吸引宝宝注意，并训练宝宝视线随物体作上下、左右、圆圈、远近、斜线等方向运动。</string>
			</dict>
			<dict>
				<key>title</key>
				<string>听觉训练</string>
				<key>content</key>
				<string>家长可在宝宝周围不同方向，用说话声或玩具声训练宝宝转头寻找声源。母亲的声音是宝宝最喜爱听的声音之一。母亲用愉快、亲切、温柔的语调，面对面地和宝宝说话，可吸引宝宝。注意成人说话的声音、表情、口形等，诱发宝宝良好、积极的情绪和发音的欲望。可选择不同旋律、速度、响度、曲调或不同乐器奏出的音乐或发声玩具，也可利用家中不同物体敲击声如钟表声、敲碗声等，或改变对宝宝说话的声调来训练宝宝分辨各种声音。当然，不要突然使用过大的声音，以免宝宝受惊吓。 </string>
			</dict>
			<dict>
				<key>title</key>
				<string>触觉训练</string>
				<key>content</key>
				<string>利用手或各种形状、质地的物体触碰宝宝的面颊、口唇、眉弓、手指头或脚趾头等处。</string>
			</dict>
			<dict>
				<key>title</key>
				<string>感知觉训练</string>
				<key>content</key>
				<string>吃饭时，用筷子蘸莱汁给宝宝尝尝。</string>
			</dict>
			<dict>
				<key>title</key>
				<string>感知觉训练</string>
				<key>content</key>
				<string>吃苹果时让宝宝闻闻苹果香味。</string>
			</dict>
			<dict>
				<key>title</key>
				<string>感知觉训练</string>
				<key>content</key>
				<string>洗澡时，让宝宝闻闻肥皂香味，用奶瓶喂奶时，让宝宝用手感受一下奶瓶的温度。</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>title</key>
				<string>抬头练习</string>
				<key>content</key>
				<string>使宝宝俯卧，两臂屈肘于胸前，成人在宝宝头侧引逗宝宝抬头，开始训练每次30秒钟，以后可根据宝宝训练情况逐渐延长至3分钟左右。 </string>
			</dict>
			<dict>
				<key>title</key>
				<string>抬头练习</string>
				<key>content</key>
				<string>将宝宝抱坐在成人一只前臂上，宝宝的头背部贴在成人前胸，成人一只手抱住宝宝的胸部，一只手托住宝宝的屁股，使宝宝面前呈现广阔的空间，能注视到周围更多新奇的东西，这可激发宝宝兴趣，使宝宝主动练习竖头。也可让宝宝胸部贴在成人的胸前和肩部，使宝宝的头位于成人肩部以上，用另一只手托住婴儿的头、颈、背，以防止宝宝头后仰。 </string>
			</dict>
			<dict>
				<key>title</key>
				<string>侧翻训练</string>
				<key>content</key>
				<string>宝宝感兴趣的发声玩具，在宝宝头部左右侧逗引宝宝，使宝宝头部侧转注意玩具。每次训练2～3分钟，每日数次。这可促进颈肌的灵活性和协调性，为侧翻身作准备。</string>
			</dict>
			<dict>
				<key>title</key>
				<string>侧翻训练</string>
				<key>content</key>
				<string>宝宝满月后，可开始训练侧翻动作。先用一个发声玩具，吸引宝宝转头注视，然后，成人一手握住宝宝一只手，另一只手将宝宝同侧腿搭在另一条腿上，辅助宝宝向对侧侧翻注视，左右轮流侧翻练习，以帮助宝宝感觉体位的变化，学习侧翻动作。每日2次，每次侧翻2～3次。 </string>
			</dict>
			<dict>
				<key>title</key>
				<string>手部动作训练</string>
				<key>content</key>
				<string>在宝宝手腕部系上铃铛或红色手帕、鲜艳的手镯，来吸引宝宝对手部的感知，帮助他感知手的存在、体验手的动作。可隔一段时间变更一种系法，看看宝宝注意到这些变化没有。脱下手镯、红绸带让宝宝瞧瞧、摸摸，让他感觉一下这些东西与手部动作的关系。还可让宝宝仰卧，将一块布或手绢盖在他的脸上，也可只盖住宝宝一只眼睛，开始时可抓住宝宝的上臂引导他帮他试着用手移开布，逐渐减少帮助，使他自己将布从脸上移开。 </string>
			</dict>
			<dict>
				<key>title</key>
				<string>手部动作训练</string>
				<key>content</key>
				<string>握着宝宝的手，帮助其触碰、抓握面前悬吊的玩具，吸引他抓握。</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>title</key>
				<string>清洁习惯培养</string>
				<key>content</key>
				<string>宝宝每次哺喂完，都帮他擦擦嘴。早晨起床后为他洗脸、洗手、入睡前再给他洗脸、洗手、洗脚、洗臀部，在固定时间洗澡。</string>
			</dict>
			<dict>
				<key>title</key>
				<string>独立能力培养</string>
				<key>content</key>
				<string>应尽量多和孩子交流，但整天陪在宝宝身边也是完全不必要的。宝宝醒来时，可让他独自躺在床上活动一下四肢、四处看看，睡眠时，成人也不必要陪同躺下。</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>title</key>
				<string>感知语音</string>
				<key>content</key>
				<string>利用宝宝清醒时间，让他看看周围环境，并告诉他周围他注意到的东西的名称及行为。</string>
			</dict>
			<dict>
				<key>title</key>
				<string>引逗发声</string>
				<key>content</key>
				<string>和蔼微笑着和宝宝说话，引逗宝宝发出&quot;哦哦&quot;&quot;嗯嗯&quot;声。也可模仿宝宝发出的声音，鼓励宝宝积极发音，对成人微笑。</string>
			</dict>
			<dict>
				<key>title</key>
				<string>抚摸宝宝</string>
				<key>content</key>
				<string>用手轻轻的抚摸宝宝身体，做出舒服的表情，引逗宝宝模仿成人表情。</string>
			</dict>
			<dict>
				<key>title</key>
				<string>微笑练习</string>
				<key>content</key>
				<string>成人在宝宝面前要常常微笑，当宝宝模仿微笑时成人要展现出喜悦的表情，或者抱起宝宝作出奖励。</string>
			</dict>
		</array>
	</array>
	<array>
		<array>
			<dict>
				<key>title</key>
				<string>视觉训练</string>
				<key>content</key>
				<string>用玩具声，吸引宝宝转头寻找发声玩具，每日训练2～3次，每次3～5分钟。</string>
			</dict>
			<dict>
				<key>title</key>
				<string>视觉训练</string>
				<key>content</key>
				<string>宝宝视力迅速发展的时期主要在半岁以前。可选择一些大小不一玩具或物体，从大到小，让宝宝用手抓握注视，然后放在桌上吸引宝宝注视。</string>
			</dict>
			<dict>
				<key>title</key>
				<string>视觉训练</string>
				<key>content</key>
				<string>让宝宝多看各种颜色的图画、玩具及物品，并告诉宝宝物体的名称和颜色。 </string>
			</dict>
			<dict>
				<key>title</key>
				<string>听觉训练</string>
				<key>content</key>
				<string>吸引宝宝寻找前后左右不同方位、不同距离的发声源。</string>
			</dict>
			<dict>
				<key>title</key>
				<string>听觉训练</string>
				<key>content</key>
				<string>根据不同情景，用不同语调、表情，使宝宝逐渐能够感受到语言中不同的感情成分。</string>
			</dict>
			<dict>
				<key>title</key>
				<string>听觉训练</string>
				<key>content</key>
				<string>让宝宝从周围环境中直接接触各种声音， 如开关门、窗外风声等。</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>title</key>
				<string>俯卧支撑练习</string>
				<key>content</key>
				<string>使宝宝俯卧，两臂屈肘于胸前，鼓励、诱导宝宝将头、前胸抬高，直至能用一只手支撑身体抬起头、胸。左右手轮流支撑训练，每日数次，每次数分种。</string>
			</dict>
			<dict>
				<key>title</key>
				<string>翻身练习</string>
				<key>content</key>
				<string>训练宝宝从仰卧位翻身至俯卧位。宝宝仰卧位，成人左手将宝宝右手向头部方向轻轻拉直，右手轻握宝宝右膝盖内侧。让他左腿弯曲，并利用右手腕背力量使宝宝右腿贴于床垫或地板上，然后轻轻提起宝宝左边腿部，顺势让他右滚，翻成俯卧位。用同样步骤辅助宝宝从左侧翻滚至俯卧位。每日训练2～3次，左右翻身各l～2次。</string>
			</dict>
			<dict>
				<key>title</key>
				<string>拉坐练习</string>
				<key>content</key>
				<string>4个月时可开始训练宝宝拉坐。宝宝仰卧位，成人双手的大拇指插入宝宝手中，让他握着，其他手指则轻轻抓着宝宝的手腕，使宝宝双手伸直前举，手掌向内相对，两手距同肩宽，然后轻轻向前拉起宝宝双手，使宝宝头、肩膀离开床面抬起。此时宝宝会试图屈肘用力坐起来，保持此姿势5～6秒，再轻轻让宝宝躺下，再重复2～3次。应注意：拉坐练习是让宝宝借助家长的轻轻帮助自己用力坐起。如果宝宝被成人拉坐起来时，手无力屈肘，头部低垂，表示还不宜做这个动作，必须先进行俯卧练习，强化颈背肌肉及上肢肌肉力量，过些的时候再进行练习。 </string>
			</dict>
			<dict>
				<key>title</key>
				<string>靠坐练习</string>
				<key>content</key>
				<string>5个月左右训练宝宝靠坐。将宝宝放在有扶手的沙发上或有靠背的小椅子上或在宝宝身后放些枕头、棉被让练习靠坐，以后逐渐减少宝宝靠垫的东西，每日1～2次，每次2～3分钟。</string>
			</dict>
			<dict>
				<key>title</key>
				<string>手部动作训练</string>
				<key>content</key>
				<string>通过伸手够物来延伸宝宝的视觉活动范围</string>
			</dict>
			<dict>
				<key>title</key>
				<string>手部动作训练</string>
				<key>content</key>
				<string>选择大小不一的玩具，来训练宝宝抓握，促进手的灵活性和协调性。 </string>
			</dict>
			<dict>
				<key>title</key>
				<string>手部动作训练</string>
				<key>content</key>
				<string>通过游戏，教宝宝玩不同玩法的玩具，如摇晃、捏、触碰、敲打、掀、推、扔、取等。</string>
			</dict>
			<dict>
				<key>title</key>
				<string>蹬腿练习</string>
				<key>content</key>
				<string>成人采取坐位，双手从宝宝腋下扶抱宝宝，使宝宝的腿支撑身体保持直立的姿势，成人扶抱着宝宝做蹬腿动作。开始成人可将宝宝抱起，再落下让宝宝脚踏在成人腿上时，又再将宝宝抱举起，再落下，来训练宝宝蹬跳。蹬腿练习可促进双下肢骨骼和肌肉的充分发育。需注意的是，举落的动作应轻柔缓慢，力度不宜过大，时间也不应太长，一般每日2次，每次1～3分钟左右。</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>title</key>
				<string>作息规律培养</string>
				<key>content</key>
				<string>4个月后可将宝宝白天的睡眠时间逐渐减少1次，即白天睡眠3～4次，每次1.5～2小时。夜间如宝宝不醒，尽量不要惊动他。如果宝宝醒了，尿布湿了可更换尿布，或给他把尿，宝宝若需要吮奶、喝水可喂喂他，但尽量不要和他说话，不要逗引他，让他尽快转入睡眠。要注意宝宝睡觉的姿势，经常让宝宝更换头位，以防宝宝把头睡偏。</string>
			</dict>
			<dict>
				<key>title</key>
				<string>饮食习惯培养</string>
				<key>content</key>
				<string>在接近喂奶的时间，胃肠就开始预先分泌消化液，并产生饥饿感，这有助于增加食欲，促进食物的消化与吸收。4个月后，每日喂养次数可减为6次，白天哺喂4～5次，间隔3～4小时。夜间视宝宝需要情况进行哺喂，一般1次即可，若宝宝夜间不醒或不愿进食，可不哺喂。可开始逐渐训练让宝宝学会用勺吞咽食物，为以后断奶用勺进食做准备。开始可先用勺喂开水，若不出现呛，可逐渐开始用勺喂果汁、菜汁、稀糊、蛋黄糊、果泥等。方法：将宝宝斜卧位抱置于胸前，用小勺将食物轻缓置入宝宝口中，当宝宝吞咽后，再喂第二口。开始不必太多，1～2勺即可，以后逐新增多，可以于喂奶前训练，以防宝宝吐奶。每次喂食时，告诉宝宝所进食辅食的名称及味道等。</string>
			</dict>
			<dict>
				<key>title</key>
				<string>卫生习惯培养</string>
				<key>content</key>
				<string>当宝宝将有危险或不干净的东西放人嘴里，成人应立即制止，用严肃口气对孩子说：&quot;不行&quot;。并将放入口的物品取走。 </string>
			</dict>
			<dict>
				<key>title</key>
				<string>独立能力培养</string>
				<key>content</key>
				<string>可在宝宝身边放些玩具，让他自己单独玩一会儿，在宝宝有困难时，成人可给予适当的帮助和指导，支持鼓励宝宝施展自己的能力。 </string>
			</dict>
		</array>
		<array>
			<dict>
				<key>title</key>
				<string>认识自我</string>
				<key>content</key>
				<string>将宝宝抱坐在镜子前，对镜中的宝宝说话，引宝宝注视镜中的自己和家长及相应的动作。</string>
			</dict>
			<dict>
				<key>title</key>
				<string>语调训练</string>
				<key>content</key>
				<string>和宝宝说话，不仅有意识地给予不同的语调，还应结合不同的面部表情，如笑、怒、淡漠等，训练宝宝分辨面部表情，</string>
			</dict>
			<dict>
				<key>title</key>
				<string>发音训练</string>
				<key>content</key>
				<string>和宝宝说话时，应坐在宝宝正对面的位置，使宝宝能够清楚看到您的口形、表情，说话速度要慢、而明确。</string>
			</dict>
			<dict>
				<key>title</key>
				<string>躲藏游戏</string>
				<key>content</key>
				<string>成人先躲藏起来，时不时探出头来让宝宝寻找，激发宝宝愉快的情绪。 </string>
			</dict>
		</array>
	</array>
	<array>
		<array>
			<dict>
				<key>title</key>
				<string>视觉训练</string>
				<key>content</key>
				<string>不断更新视觉刺激、扩大宝宝的视野：教宝宝认识、观看周围生活用品、自然景现。</string>
			</dict>
			<dict>
				<key>title</key>
				<string>视觉训练</string>
				<key>content</key>
				<string>教宝宝认识、观看周围生活用品、自然景现，并与实物进行比较。</string>
			</dict>
			<dict>
				<key>title</key>
				<string>听觉训练</string>
				<key>content</key>
				<string>将同一物体放入不同制品的盒中，让宝宝听听声响有何不同。</string>
			</dict>
			<dict>
				<key>title</key>
				<string>听觉训练</string>
				<key>content</key>
				<string>以轻柔、节奏鲜明的轻音乐为主，节奏要有快有慢，有强有弱。让宝宝听不同旋律、音色、音调、节奏的音乐，提高对音乐的感知能力。家长可握着宝宝的两手教宝宝合着音乐学习拍手，也可边唱歌边教宝宝舞动手臂。</string>
			</dict>
			<dict>
				<key>title</key>
				<string>听觉训练</string>
				<key>content</key>
				<string>让宝宝敲打一些不易敲碎的物体，引导宝宝注意分辨不同物体敲打发出的不同声响。</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>title</key>
				<string>独坐练习</string>
				<key>content</key>
				<string>当宝宝能稳定的独坐后可着重。让宝宝独坐在床上或地铺上，训练宝宝坐着转头转身寻找。还可准备一张适中的小凳子，宝宝坐上去时，双脚刚好可触及地面，而且脚掌与小腿、小腿与大腿、大腿与躯干的角度均成直角。家长用手扶住宝宝大腿，不要扶他的背，让他自己寻找平衡点。待宝宝坐直后，成人可试着松开一只手，只用一手扶住宝宝的一侧大腿，另一手以玩具吸引宝宝转头转身寻找玩具。左右交替诱使宝宝左右侧转，在学习转侧中寻找平衡点，并且练习用脚来支撑身体。 </string>
			</dict>
			<dict>
				<key>title</key>
				<string>爬行练习</string>
				<key>content</key>
				<string>家长用一手抱着宝宝的膝部，另一手环抱在他胸前，让宝宝双手放在桌上或地上来支撑身体。然后家长可慢慢放松放在宝宝胸前的手，鼓励宝宝直立支撑自己，每日练习1～2次，视宝宝耐受情况，决定练习时间，一般每次3～5分钟。</string>
			</dict>
			<dict>
				<key>title</key>
				<string>爬行练习</string>
				<key>content</key>
				<string>方法①使宝宝趴着，两腿伸直，手肘弯曲支撑上半身。家长以右手抓住宝宝双脚掌。②家长抓住宝宝双脚往前画个半弧，使膝盖尽量弯曲，脚跟碰到屁股，如此反复画弧，做屈伸运动3～5次。③最后一次伸腿运动做完后，家长两手分别握住宝宝两大腿后侧，使双腿轮流弯向腋部，做屈伸动作3～5次。④在宝宝前方放个玩具，引诱他爬过去取玩具，成人扶住宝宝的小腿，或用手托住宝宝脚掌，左右交替地弯曲其膝关节，助其向前爬行，重复2～3遍，每日1～2次。 </string>
			</dict>
			<dict>
				<key>title</key>
				<string>站立训练</string>
				<key>content</key>
				<string>训练宝宝站立时，可将其双腿略为分开，以降低重心，使之站得更稳些。每次扶站时间不宜过久。 
(1)可扶着宝宝腋下让他练习站立。 　 
(2)让宝宝扶着小车、床、栏杆及椅背等练习站立</string>
			</dict>
			<dict>
				<key>title</key>
				<string>手部动作训练</string>
				<key>content</key>
				<string>以加强宝宝手指动作的灵活性和视觉-触觉活动的协调。选择一些小的、可食用物品如米花、小饼干等，让宝宝捏取。教的时候家长可给予示范，如用拇食指捏取饼干放入口中，让宝宝模仿练习。</string>
			</dict>
			<dict>
				<key>title</key>
				<string>手部动作训练</string>
				<key>content</key>
				<string>双手玩玩具：在宝宝准确抓握的基础上可给宝宝多个玩具，训练他抓住一个玩具后再抓另一个玩具，或向宝宝同一只手上送玩具两次，教宝宝学会将玩具从一手换到另一只手上后再取第二个玩具</string>
			</dict>
			<dict>
				<key>title</key>
				<string>手部动作训练</string>
				<key>content</key>
				<string>双手对击运动：当宝宝两手均有玩具时，可教宝宝两手对击玩具。还可让宝宝两手持细柄玩具如摇铃或汤匙，模仿敲鼓动作，双手轮回敲打面前的小桶或空奶粉罐。</string>
			</dict>
			<dict>
				<key>title</key>
				<string>手部动作训练</string>
				<key>content</key>
				<string>教宝宝双手协调的撕纸。</string>
			</dict>
			<dict>
				<key>title</key>
				<string>手部动作训练</string>
				<key>content</key>
				<string>准备一个容器(如纸盒或小桶)和一些彩色塑料小球，先给宝宝做示范说：&quot;我们来比赛扔球&quot;，将小球一个个扔进容器里，然后让宝宝模仿。开始时，可将容器和球放在接近宝宝身体的地方，随着宝宝能力的提高，可逐渐将纸盒前移。</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>title</key>
				<string>作息规律培养</string>
				<key>content</key>
				<string>宝宝半夜惊醒时，家长可去看看，安抚宝宝，但不要将宝宝抱回自己床，否则一旦养成习惯，宝宝会要求大人陪伴，这会给家长带来不必要的麻烦，尤其对睡觉时间较晚或有夜间工作习惯的家长来说更是如此。此年龄宝宝白天睡眠次数，一般仍为2～3次，每次2～2.5小时。</string>
			</dict>
			<dict>
				<key>title</key>
				<string>饮食习惯培养</string>
				<key>content</key>
				<string>此阶段，每日给宝宝喂养的次数可减为每日5次，间隔4小时左右，夜间停喂一次。可开始训练宝宝用杯喝水、用手拿东西吃。</string>
			</dict>
			<dict>
				<key>title</key>
				<string>如厕习惯培养</string>
				<key>content</key>
				<string>一般在饭后10～15分钟或睡醒后立即坐盆，但最好安排在晨间起床时。便盆要放在固定的地方，每次用完洗净。宝宝坐盆要有专人照顾，每次坐盆时间不要超过5分钟，一日次数也不宜过多。坐盆时不能给宝宝吃食物或让宝宝玩耍。若宝宝不愿，不要强迫其坐盆，以免对坐盆产生抵触情绪。</string>
			</dict>
			<dict>
				<key>title</key>
				<string>独立能力培养</string>
				<key>content</key>
				<string>成人不必始终陪伴在宝宝身边，宝宝已有一定活动能力了，能翻身、独坐、并逐渐学会爬行，只要注意玩耍环境的安全，就可让宝宝独立玩玩。如果宝宝醒很早，家长还想多睡一会儿，家长可让闹钟在宝宝通常醒来的时间五分钟以后再响，两天以后再推迟五分钟，以此类推，等闹钟响后，家长再起床。这样，宝宝醒来，可能又会重新入睡，或自己独立玩一会儿，等大人起床。如果宝宝哭醒，大人也不必急于去照料他，因为他很可能会自己安静下来。家长应该抽出时间陪宝宝玩，但不要在宝宝每次哭闹后才陪宝宝玩，以免宝宝养成用哭闹要求家长陪伴的习惯。 </string>
			</dict>
			<dict>
				<key>title</key>
				<string>交友能力培养</string>
				<key>content</key>
				<string>这时期宝宝对人的分辨能力已较好，可以认出自己家里的人，出现认生现象，但和不认识的小朋友交往却没有这种情况，他们能与同伴交住中获得乐趣。因此，家长应努力创造条件，让宝宝多与小伙伴们接触、交往，从而促进其社会性发展。对成人的认生也不是不好的现象，而是宝宝发育的一个阶段，如果宝宝特别认生，可暂避生人，先训练宝宝多与熟人交往，慢慢地宝宝对生人也能接受。</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>title</key>
				<string>语音模仿</string>
				<key>content</key>
				<string>多让宝宝听听不同动物的叫声，并鼓励宝宝模仿发音。</string>
			</dict>
			<dict>
				<key>title</key>
				<string>语音重复</string>
				<key>content</key>
				<string>多叫宝宝的名字，让宝宝意识到大人是在叫自己。</string>
			</dict>
			<dict>
				<key>title</key>
				<string>音乐训练</string>
				<key>content</key>
				<string>播放旋律简单，朗朗上口的儿歌给宝宝听，同时根据音乐节奏的快慢、情绪的起伏做出不同的动作和表情。</string>
			</dict>
		</array>
	</array>
	<array>
		<array>
			<dict>
				<key>title</key>
				<string>视觉训练</string>
				<key>content</key>
				<string>教宝宝认识实物，图片，把几种东西或几张图片放在一起让宝宝挑选、指认，同时教宝宝模仿说出名称来。也可以在宝宝经常接触的东西上标些文字，当宝宝接触到这些东西时，就引导他注意上面的字，增加他对文字的注意力和接触机会。外出时，可经常提醒他注意遇到的字如广告招牌、街道名称等。应尽早让宝宝接触书本，培养宝宝对文字的注意力。教宝宝识字应在快乐的游戏气氛中自然而然地进行，而不应该给宝宝施加压力，硬性规定必须每日记多少字，以免造成宝宝抵触心理。</string>
			</dict>
			<dict>
				<key>title</key>
				<string>听觉训练</string>
				<key>content</key>
				<string>用语言逗引宝宝活动和玩玩具，听磁带，观看周围的人物交谈，唱儿歌、唱歌曲给宝宝听。和宝宝咿呀对话。</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>title</key>
				<string>站立练习</string>
				<key>content</key>
				<string>当宝宝两手扶站较稳时，可训练一手扶站，可让宝宝一手扶站，另一只手去取玩具 。 </string>
			</dict>
			<dict>
				<key>title</key>
				<string>站立练习</string>
				<key>content</key>
				<string>成人可双手扶着宝宝的腋下，让宝宝背和臀部靠墙，两足跟稍离墙，双下肢稍分开站稳，然后慢慢放手，并拍手鼓励宝宝独站。</string>
			</dict>
			<dict>
				<key>title</key>
				<string>起立练习</string>
				<key>content</key>
				<string>从站位至坐下：宝宝扶站位，用玩具引导宝宝慢慢坐下，教宝宝从站位扶着栏杆慢慢坐下，而不是一下子摔坐下。</string>
			</dict>
			<dict>
				<key>title</key>
				<string>站稳平衡练习</string>
				<key>content</key>
				<string>让宝宝先观察一下不倒翁玩具，推一下、站起来的样于，然后对宝宝说：&quot;你也像不倒翁一样，把你推一推，你就站起来。&quot;成人让宝宝站好，用一只手在宝宝躯干一侧轻轻推一下，使他失去平衡，另一只手挡住宝宝另一侧身体，并帮助宝宝恢复到站位，成人应在轻快地游戏气氛中和宝宝进行练习，鼓励表扬宝宝，以训练宝宝平衡感。</string>
			</dict>
			<dict>
				<key>title</key>
				<string>站稳协调练习</string>
				<key>content</key>
				<string>将宝宝扶站好，并把宝宝感兴趣的玩具置于宝宝身体一侧，鼓励他尽可能弯曲身体去拾取玩具，左右侧交替练习，可增强宝宝腰部肌肉的力量和协调性。 </string>
			</dict>
			<dict>
				<key>title</key>
				<string>行走练习</string>
				<key>content</key>
				<string>应循序渐进，刚开始练习时，一定要注意保护，防止宝宝跌倒，减少他的恐惧心理，使他乐于行走。在学走期间尽量不要靠&quot;学步车&quot;一类工具帮助，以免宝宝形成不正确的行走姿势。可拉着宝宝的双手训练其迈步，或让宝宝扶着栏杆或床边迈步走，还可用较长的围巾从宝宝前胸、腋下围过，成人在宝宝后方，拉紧围巾，让宝宝练习独立走步。宝宝会独走数步后，可在宝宝的前方放一个他喜欢的玩具，训练他迈步向前取，或让宝宝靠墙独站稳后，成人后退几步，手中拿玩具，用语言鼓励宝宝朝成人方向走去，宝宝快走到成人身边时，成人再后退几步，直到宝宝走不稳时把宝宝抱起来，夸奖他走得好并给他玩具。 </string>
			</dict>
			<dict>
				<key>title</key>
				<string>手部动作训练</string>
				<key>content</key>
				<string>在宝宝能够有意识地将物品放下后，训练宝宝将手中的物品投入到一些小的容器中。让宝宝将小木块放到一个小盒子中，将小粒的东西拾起来放进小瓶中。还可给宝宝选择一些带孔洞的玩具，让宝宝将一些东西从孔洞中投入。 </string>
			</dict>
			<dict>
				<key>title</key>
				<string>手部动作训练</string>
				<key>content</key>
				<string>把木块搭起来，打开或盖上盒盖、瓶盖，拉电灯开关线，用笔画线条，用手翻书，按按钮、扔皮球，拾东西，模仿用手推玩具火车，拿勺子在碗中搅拌，用勺吃饭，用手挖抠东西等等。</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>title</key>
				<string>作息规律培养</string>
				<key>content</key>
				<string>白天睡眠次数可逐渐减至每日2次，每次睡眠时间2小时。每天应定时让宝宝上床睡觉，睡眠前不要引导宝宝过分地兴奋，此时宝宝能理解成人部分语言，可预先告诉宝宝您的安排，如母亲与宝宝游戏，说：&quot;我们把玩具收起来，要睡眠了。&quot;然后收拾玩具，抱宝宝上床睡觉。 </string>
			</dict>
			<dict>
				<key>title</key>
				<string>饮食习惯培养</string>
				<key>content</key>
				<string>让宝宝自己用手拿饼干吃，独自抱奶瓶吃奶、用杯喝水，试着拿汤匙舀东西吃。 </string>
			</dict>
			<dict>
				<key>title</key>
				<string>如厕习惯培养</string>
				<key>content</key>
				<string>教宝宝在大小便前有所表示，如在大小便前发出&quot;嗯嗯&quot;声音。 </string>
			</dict>
			<dict>
				<key>title</key>
				<string>独立能力培养</string>
				<key>content</key>
				<string>教宝宝配合成人穿衣、戴帽、穿袜、穿鞋等</string>
			</dict>
			<dict>
				<key>title</key>
				<string>交友能力培养</string>
				<key>content</key>
				<string>时，宝宝已经有一定的活动能力，对周围世界有了更广泛的兴趣，有与人交往的社会需求和强烈的好奇心。因此，家长每天也应当抽出一定时间和宝宝一起游戏，进行情感交流。一个乐观向上，充满爱心的家庭气氛，会使宝宝幸福开朗，乐于与人交往。家长还应经常带宝宝外出活动，让宝宝多接触丰富多彩的大自然，接触社会，从中观察学习与人的交往经验，在宝宝与人交往过程中，应继续培养文明礼貌的举止、言语。 </string>
			</dict>
		</array>
		<array>
			<dict>
				<key>title</key>
				<string>模仿发音</string>
				<key>content</key>
				<string>日常生活中引导宝宝主动发音和模仿发音，积极为宝宝创造良好的语言环境。让宝宝学习用 &quot;叔叔&quot;、&quot;阿姨&quot;、&quot;哥哥&quot;、&quot;姐姐&quot;等称呼周围熟悉的人。如成人问&quot;这是什么?&quot;让宝宝回答。鼓励宝宝模仿父母的表情和声音，当模仿成功时，亲亲他，井做出十分高兴的表情鼓励他。</string>
			</dict>
		</array>
	</array>
</array>
</plist>
