<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>vaccine</key>
		<string>乙肝疫苗</string>
		<key>illness</key>
		<string>乙型病毒性肝炎</string>
		<key>times</key>
		<string>第一针</string>
		<key>month</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>vaccine</key>
		<string>卡介苗</string>
		<key>illness</key>
		<string>结核病</string>
		<key>times</key>
		<string>初种</string>
		<key>month</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>vaccine</key>
		<string>乙肝疫苗</string>
		<key>illness</key>
		<string>乙型病毒性肝炎</string>
		<key>times</key>
		<string>第二针</string>
		<key>month</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>vaccine</key>
		<string>脊髓灰质炎减毒活疫苗（口服）</string>
		<key>illness</key>
		<string>小儿麻痹症</string>
		<key>times</key>
		<string>第一次</string>
		<key>month</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>vaccine</key>
		<string>脊髓灰质炎减毒活疫苗（口服）</string>
		<key>illness</key>
		<string>小儿麻痹症</string>
		<key>times</key>
		<string>第二次</string>
		<key>month</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>vaccine</key>
		<string>无细胞百白破疫苗</string>
		<key>illness</key>
		<string>百日咳、白喉、破伤风</string>
		<key>times</key>
		<string>第一针</string>
		<key>month</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>vaccine</key>
		<string>脊髓灰质炎减毒活疫苗（口服）</string>
		<key>illness</key>
		<string>小儿麻痹</string>
		<key>times</key>
		<string>第三次</string>
		<key>month</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>vaccine</key>
		<string>无细胞百白破疫苗</string>
		<key>illness</key>
		<string>百日咳、白喉、破伤风</string>
		<key>times</key>
		<string>第二针</string>
		<key>month</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>vaccine</key>
		<string>无细胞百白破疫苗</string>
		<key>illness</key>
		<string>百日咳、白喉、破伤风</string>
		<key>times</key>
		<string>第三针</string>
		<key>month</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>vaccine</key>
		<string>乙肝疫苗</string>
		<key>illness</key>
		<string>乙型病毒性肝炎</string>
		<key>times</key>
		<string>第三针</string>
		<key>month</key>
		<integer>6</integer>
	</dict>
	<dict>
		<key>vaccine</key>
		<string>乙肝疫苗</string>
		<key>illness</key>
		<string>乙型病毒性肝炎</string>
		<key>times</key>
		<string>第三针</string>
		<key>month</key>
		<integer>6</integer>
	</dict>
	<dict>
		<key>vaccine</key>
		<string>A群流脑疫苗</string>
		<key>illness</key>
		<string>流行性脑脊髓膜炎</string>
		<key>times</key>
		<string>第一针</string>
		<key>month</key>
		<integer>6</integer>
	</dict>
	<dict>
		<key>vaccine</key>
		<string>麻风二联疫苗</string>
		<key>illness</key>
		<string>麻疹、风疹</string>
		<key>times</key>
		<string>第一针</string>
		<key>month</key>
		<integer>8</integer>
	</dict>
	<dict>
		<key>vaccine</key>
		<string>乙脑减毒活疫苗</string>
		<key>illness</key>
		<string>流行性乙型脑炎</string>
		<key>times</key>
		<string>第一针</string>
		<key>month</key>
		<integer>8</integer>
	</dict>
	<dict>
		<key>vaccine</key>
		<string>A群流脑疫苗</string>
		<key>illness</key>
		<string>流行性脑脊髓膜炎</string>
		<key>times</key>
		<string>第二针</string>
		<key>month</key>
		<integer>9</integer>
	</dict>
	<dict>
		<key>vaccine</key>
		<string>甲肝减毒活疫苗</string>
		<key>illness</key>
		<string>甲型肝炎</string>
		<key>times</key>
		<string>第一针</string>
		<key>month</key>
		<integer>18</integer>
	</dict>
	<dict>
		<key>vaccine</key>
		<string>无细胞百白破疫苗</string>
		<key>illness</key>
		<string>百日咳、白喉、破伤风</string>
		<key>times</key>
		<string>第四针</string>
		<key>month</key>
		<integer>18</integer>
	</dict>
	<dict>
		<key>vaccine</key>
		<string>麻腮风三联疫苗</string>
		<key>illness</key>
		<string>麻疹、流行性腮腺炎、风疹</string>
		<key>times</key>
		<string>第一针</string>
		<key>month</key>
		<integer>18</integer>
	</dict>
	<dict>
		<key>vaccine</key>
		<string>乙脑减毒活疫苗</string>
		<key>illness</key>
		<string>流行性乙型脑炎</string>
		<key>times</key>
		<string>第二针</string>
		<key>month</key>
		<integer>24</integer>
	</dict>
	<dict>
		<key>vaccine</key>
		<string>A+C群流脑疫苗</string>
		<key>illness</key>
		<string>流行性脑脊髓膜炎</string>
		<key>times</key>
		<string>第一针</string>
		<key>month</key>
		<integer>36</integer>
	</dict>
	<dict>
		<key>vaccine</key>
		<string>脊髓灰质炎减毒活疫苗（口服）</string>
		<key>illness</key>
		<string>小儿麻痹</string>
		<key>times</key>
		<string>加强</string>
		<key>month</key>
		<integer>48</integer>
	</dict>
	<dict>
		<key>vaccine</key>
		<string>白破二联疫苗</string>
		<key>illness</key>
		<string>白喉、破伤风</string>
		<key>times</key>
		<string>第一针</string>
		<key>month</key>
		<integer>72</integer>
	</dict>
	<dict>
		<key>vaccine</key>
		<string>A+C群流脑疫苗</string>
		<key>illness</key>
		<string>流行性脑脊髓膜炎</string>
		<key>times</key>
		<string>第二针</string>
		<key>month</key>
		<integer>72</integer>
	</dict>
</array>
</plist>
