<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>vaccine</key>
		<string>乙型肝炎疫苗</string>
		<key>illness</key>
		<string>乙型病毒性肝炎</string>
		<key>times</key>
		<string>第一针</string>
		<key>days</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>vaccine</key>
		<string>卡介苗</string>
		<key>illness</key>
		<string>结核病</string>
		<key>times</key>
		<string>初种</string>
		<key>days</key>
		<string>0</string>
	</dict>
	<dict>
		<key>vaccine</key>
		<string>乙型肝炎疫苗</string>
		<key>illness</key>
		<string>乙型病毒性肝炎</string>
		<key>times</key>
		<string>第二针</string>
		<key>days</key>
		<string>30</string>
	</dict>
	<dict>
		<key>vaccine</key>
		<string>脊髓灰质炎糖丸</string>
		<key>illness</key>
		<string>小儿麻痹症</string>
		<key>times</key>
		<string>第一次</string>
		<key>days</key>
		<string>60</string>
	</dict>
	<dict>
		<key>vaccine</key>
		<string>脊髓灰质炎糖丸</string>
		<key>illness</key>
		<string>小儿麻痹症</string>
		<key>times</key>
		<string>第二次</string>
		<key>days</key>
		<string>90</string>
	</dict>
	<dict>
		<key>vaccine</key>
		<string>百白破三联疫苗</string>
		<key>illness</key>
		<string>百日咳、白喉、破伤风</string>
		<key>times</key>
		<string>第一次</string>
		<key>days</key>
		<string>90</string>
	</dict>
	<dict>
		<key>vaccine</key>
		<string>脊髓灰质炎糖丸</string>
		<key>illness</key>
		<string>小儿麻痹</string>
		<key>times</key>
		<string>第三次</string>
		<key>days</key>
		<string>120</string>
	</dict>
	<dict>
		<key>vaccine</key>
		<string>百白破疫苗</string>
		<key>illness</key>
		<string>百日咳、白喉、破伤风</string>
		<key>times</key>
		<string>第二针</string>
		<key>days</key>
		<string>120</string>
	</dict>
	<dict>
		<key>vaccine</key>
		<string>百白破疫苗</string>
		<key>illness</key>
		<string>百日咳、白喉、破伤风</string>
		<key>times</key>
		<string>第三针</string>
		<key>days</key>
		<string>150</string>
	</dict>
	<dict>
		<key>vaccine</key>
		<string>乙肝疫苗</string>
		<key>illness</key>
		<string>乙型病毒性肝炎</string>
		<key>times</key>
		<string>第三针</string>
		<key>days</key>
		<string>180</string>
	</dict>
	<dict>
		<key>vaccine</key>
		<string>麻疹疫苗</string>
		<key>illness</key>
		<string>麻疹</string>
		<key>times</key>
		<string>第一针</string>
		<key>days</key>
		<string>240</string>
	</dict>
	<dict>
		<key>vaccine</key>
		<string>乙脑疫苗</string>
		<key>illness</key>
		<string>流行性乙型脑炎</string>
		<key>times</key>
		<string>非活第一、二次</string>
		<key>days</key>
		<string>240</string>
	</dict>
	<dict>
		<key>vaccine</key>
		<string>A群流脑疫苗</string>
		<key>illness</key>
		<string>流行性脑脊髓膜炎</string>
		<key>times</key>
		<string>第二针</string>
		<key>days</key>
		<string>270</string>
	</dict>
	<dict>
		<key>vaccine</key>
		<string>百白破疫苗</string>
		<key>illness</key>
		<string>百日咳、白喉、破伤风</string>
		<key>times</key>
		<string>第四针</string>
		<key>days</key>
		<string>540</string>
	</dict>
	<dict>
		<key>vaccine</key>
		<string>麻疹疫苗</string>
		<key>illness</key>
		<string>麻疹</string>
		<key>times</key>
		<string>第二次</string>
		<key>days</key>
		<string>540</string>
	</dict>
	<dict>
		<key>vaccine</key>
		<string>脊髓灰质炎糖丸</string>
		<key>illness</key>
		<string>小儿麻痹</string>
		<key>times</key>
		<string>加强</string>
		<key>days</key>
		<string>540</string>
	</dict>
	<dict>
		<key>vaccine</key>
		<string>乙脑疫苗</string>
		<key>illness</key>
		<string>流行性乙型脑炎</string>
		<key>times</key>
		<string>加强</string>
		<key>days</key>
		<string>540</string>
	</dict>
	<dict>
		<key>vaccine</key>
		<string>脊髓灰质炎疫苗</string>
		<key>illness</key>
		<string>脊髓灰质炎（小儿麻痹）</string>
		<key>times</key>
		<string>加强</string>
		<key>days</key>
		<string>1460</string>
	</dict>
	<dict>
		<key>vaccine</key>
		<string>麻疹疫苗</string>
		<key>illness</key>
		<string>麻疹</string>
		<key>times</key>
		<string>加强</string>
		<key>days</key>
		<string>2555</string>
	</dict>
	<dict>
		<key>vaccine</key>
		<string>白破二联疫苗</string>
		<key>illness</key>
		<string>白喉、破伤风</string>
		<key>times</key>
		<string>加强</string>
		<key>days</key>
		<string>2555</string>
	</dict>
	<dict>
		<key>vaccine</key>
		<string>乙脑疫苗</string>
		<key>illness</key>
		<string>流行性乙型脑炎</string>
		<key>times</key>
		<string>初免两针</string>
		<key>days</key>
		<string>2555</string>
	</dict>
	<dict>
		<key>vaccine</key>
		<string>A群流脑疫苗</string>
		<key>illness</key>
		<string>流行性脑脊髓膜炎</string>
		<key>times</key>
		<string>第四针</string>
		<key>days</key>
		<string>2555</string>
	</dict>
</array>
</plist>
